%section
  %h2 DKAL
  %h4 Docker and Kubernetes on ARM and Linux

%section
  %h2 Why?
  %img.fragment(src="images/because.jpg")

%section
  %h2 Parts
  %ul
    %li Raspberry Pi 2/3
    %li Raspberry Pi 0 (4x)
    %li ClusterHAT
    %li 8GB+ MicroSD cards (5x)
    %li Power cable
    %li Ethernet cable

%section
  %h2 Laptop Software
  %ul
    %li.fragment dnsmasq
    %li.fragment firewalld (iptables)
    %li.fragment bridge-utils

%section
  %h2 Pi Software
  %ul
    %li.fragment ClusterHAT Pi image
    %li.fragment Docker
    %li.fragment Kubernetes
    %li.fragment Flannel

%section
  %h2 Conclusion
  %ul
    %li.fragment This is definitely possible
    %li.fragment It's really slow
    %li.fragment There are better ways to play with Kubernetes
    %li.fragment But it was really fun

%section
  %h2 Resources
  %ul
    %li https://clusterhat.com/
    %li https://github.com/luxas/kubernetes-on-arm

%section
  %h2 Questions?
  %p Twitter: @TheEdWood
  %p http://github.com/K4k
